@font-face {
  font-family: 'StardewPolice';
  src: url('../assets/fonts/Stardew-Valley-All-Caps.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html{
  background-color:#A47251;
}

figure {
    text-align:center;
}

img {
    width : 25%;
}

h2 {
 font-family: 'Cinzel', serif;
  color: #e6d3a3;
  text-shadow: 
    1px 1px 0 #000,
    2px 2px 5px rgba(0,0,0,0.5);
 text-align: center;
}

form {
    background-color: #F0D8A1;
    box-shadow: 6px 6px 11px #000000;
    display: absolute;
    border-radius: 25px;
    align-items: center;
}

fieldset {
  display:flex;
  align-items: center;
  justify-content: center;
  border : none;
}

input {
    border-radius: 25px;
    background-color: #B8815A;
}

#connexion {
    display:flex;
    align-content: center;
    justify-content: center;
}