<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="create-compte-page.css">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Inter&display=swap" rel="stylesheet">
    <title>Connexion à votre page utilisateur</title>
</head>

<body>
  <img src="Arche_sans_fond.png" alt="Logo" class="logo">
  <div class="container">



  <h2>Création du compte</h2>

<form (submit)="inscription()" [formGroup]="formInscription">

  <div class="form-columns">

  <!-- COLONNE 1 -->
  <div class="column">

    <h3>Informations personnelles</h3>

    <label>Prénom</label>
    <input type="text"
           placeholder="Paul"
           formControlName="prenom">

    <label>Nom</label>
    <input type="text"
           placeholder="Dupont"
           formControlName="nom">

    <label>Date de naissance</label>
    <input type="date"
           formControlName="dateNaissance">

  </div>

  <!-- COLONNE 2 -->
  <div class="column">

    <h3>Adresse</h3>

    <label>Numéro de voie</label>
    <input type="text"
           placeholder="1"
           formControlName="numeroVoie">

    <label>Voie</label>
    <input type="text"
           placeholder="Rue de l'Arche"
           formControlName="voie">

    <label>Code postal</label>
    <input type="text"
           placeholder="12345"
           formControlName="cp">

    <label>Ville</label>
    <input type="text"
           placeholder="Les Joyaux"
           formControlName="ville">

  </div>

  <!-- COLONNE 3 -->
  <div class="column">

    <h3>Informations de connexion</h3>

    <label>Email</label>
    <input type="email"
           placeholder="paul.dupont@outlook.fr"
           formControlName="login">

    <label>Mot de passe</label>
    <input type="password"
           placeholder="********"
           formControlName="password">

  </div>

</div>

  <input type="submit"
         value="Inscription"
         class="submit-btn">

</form>

<!-- <div *ngIf="inscriptionReussie" class="success-message"> -->
<div *ngIf="inscriptionReussie" >

  Vous êtes inscrit avec succès ! Redirection en cours vers la page de connexion...
</div>

<img src="panthere_final.gif" class="panther" alt="Panthère">

</div>  
</body>
</html>