<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="article-page.css">
  <title>Articles - AJC-Zoo</title>

  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Inter&display=swap" rel="stylesheet">
</head>

<body>

<header class="header">
  <img src="/Arche_sans_fond.png" alt="Logo" class="logo">

  <h1 class="title">L'Arche des Joyaux Cachés</h1>

  <div class="spacer"></div>
</header>

<div class="page-layout">
  <div class="main-column">

    <section class="content">
      <!-- ADMIN -->
       @if (authService.isAdmin()) {

        <div class="purchase-card">

          <h3 class="admin-form-title">
            ✨ Ajouter un article
          </h3>

          <form
            (ngSubmit)="addArticle()"
            class="achat-form"
            [formGroup]="formArticle"
          >

            <div class="form-group">

              <label for="libelle">Libellé</label>

              <input
                id="libelle"
                type="text"
                [formControl]="formLibelleCtrl"
                [class.invalid-input]="formLibelleCtrl.invalid && formLibelleCtrl.touched"
              />

              @if(formLibelleCtrl.invalid && formLibelleCtrl.touched) {

                <div class="field-error">

                  @if(formLibelleCtrl.errors?.['required']) {
                    <span>Le libellé est obligatoire</span>
                  }

                </div>
              }

              <label for="prix">Prix Unitaire</label>

              <input
                id="prix"
                type="number"
                [formControl]="formPrixCtrl"
                [class.invalid-input]="formPrixCtrl.invalid && formPrixCtrl.touched"
              />

              @if(formPrixCtrl.invalid && formPrixCtrl.touched) {

                <div class="field-error">

                  @if(formPrixCtrl.errors?.['required']) {
                    <span>Le prix est obligatoire</span>
                  }

                  @if(formPrixCtrl.errors?.['min']) {
                    <span>Le prix doit être supérieur à 0</span>
                  }

                </div>

              }

              <label for="quantite">Quantité</label>

              <div class="quantity-selector">

                <button
                  type="button"
                  class="qty-btn"
                  (click)="formQuantiteCtrl.setValue(formQuantiteCtrl.value - 1)"
                  [disabled]="formQuantiteCtrl.value <= 1"
                >
                  −
                </button>

                <input
                  id="quantite"
                  type="number"
                  [formControl]="formQuantiteCtrl"
                  min="1"
                />

                <button
                  type="button"
                  class="qty-btn"
                  (click)="formQuantiteCtrl.setValue(formQuantiteCtrl.value + 1)"
                >
                  +
                </button>

              </div>

            </div>

            <button type="submit" class="buy-btn" [disabled]="formArticle.invalid">
              Ajouter
            </button>

          </form>

        </div>

      }

      <h2 class="section-title">Articles en Boutique</h2>


      <div class="articles-grid" *ngIf="articles$ | async as articles">

        <div *ngIf="articles.length === 0" class="empty-state">
          Aucun article disponible en boutique
        </div>

        <div class="article-card" *ngFor="let article of articles" [routerLink]="['/boutique/article', article.id]">

          @if(article.quantiteStock >= 1){
            <div class="article-header">
              <h3>Article #{{ article?.id }}</h3>

              @if(authService.isAdmin()) {

              <button
                class="delete-icon-btn"
                type="button"
                (click)="ouvrirPopupSuppression(article); $event.stopPropagation()"
              >
                🗑️
              </button>

            }
            </div>

            <div class="article-body">

              <p>
                <span class="label">🛒 Article :</span>
                {{ article.libelle }}
              </p>

              <p>
                <span class="label">📦 Quantité :</span>
                {{ article.quantiteStock }}
              </p>

              <p>
                <span class="label">💰 Prix unitaire :</span>
                {{ article.prix }} €
              </p>

            </div>
          }

        </div>

      </div>


    </section>



  </div>
  <app-carte-logged></app-carte-logged>
</div>

<!-- POPUP CONFIRMATION SUPPRESSION -->

    @if(popupSuppressionVisible) {

    <div class="popup-overlay">

      <div class="popup danger-popup">

        <h2>
          ⚠️ Supprimer cet article ?
        </h2>

        <p class="popup-text">
          Cette action est irréversible.
        </p>

        <div class="popup-actions">

          <button
            class="cancel-btn"
            (click)="annulerSuppression()"
          >
            Annuler
          </button>

          <button
            class="delete-confirm-btn"
            (click)="confirmerSuppression()"
          >
            Supprimer
          </button>

        </div>

      </div>

    </div>

    }

    <!-- POPUP SUCCES -->

    @if(popupSuccesVisible) {

    <div class="popup-overlay">

      <div class="popup">

        <h2>
          ✅ Article supprimé avec succès
        </h2>

        <button
          class="gold-btn"
          (click)="fermerPopupSucces()"
        >
          OK
        </button>

      </div>

    </div>

    }

<div class="animals">
  <img src="/panthere_final.gif" alt="Panthère">
  <img src="/poissons-qui-nagent.gif" alt="Poissons">
</div>

<footer>
  © 2026 Arche des Joyaux Cachés
</footer>

</body>
</html>
