<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="connexion.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connexion</title>

  <!-- Font moderne -->
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Inter&display=swap" rel="stylesheet">
</head>

<body>

<div class="container">

  <img src="Arche_sans_fond.png" alt="Logo" class="logo">

  <h2>Connexion</h2>

  <form (submit)="connexion()" [formGroup]="formAuth">
    <div class="form-group">
      <label for="login">Email</label>
      <input type="email" placeholder="ex: paul@email.com" id="username" formControlName="login" [class.is-invalid]="formLoginCtrl.invalid" >
       <div *ngIf="formLoginCtrl.hasError('required')">L'email de connexion est obligatoire</div>
        <div *ngIf="formLoginCtrl.hasError('email')">L'email doit suivre la syntaxe de paul@email.com</div>
    </div>

    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input type="password" placeholder="********" name="password" id="password" formControlName="password" [class.is-invalid]="formPasswordCtrl.invalid" />
      <div *ngIf="formPasswordCtrl.hasError('required')">Le mot de passe est obligatoire</div>
    </div>

    <input [disabled]="formAuth.invalid" type="submit" value="Connexion">
  </form>

</div>

<img src="panthere_final.gif" class="panther" alt="Panthère">

</body>
</html>
