
    <figure>
        <img src="/Arche_sans_fond.png" alt="Logo Arche des Joyeux Cachés"/>
    </figure>


<h2> Connexion </h2>

<form>
<fieldset>
  <legend></legend>
  <table>
  <tr><td>Email</td><td><input type="text" placeholder="Paul.Dupont@outlook.fr" name="email"></td></tr>  
  <tr><td>Mot de passe</td><td><input type="password" placeholder="********" name="password"></td></tr>
  <tr><td></td><td><input id="connexion" type="submit" id='submit' value='Connexion'></td></tr>
</table>
</fieldset>
</form>

  <div class="panther-container">
    <img src="/panthere-qui-court.gif" class="panther" />
    <!-- <img src="/poissons-qui-nagent.gif" class="poissons" /> -->
  </div>