<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="achat-article.css">
  <title>Articles - AJC-Zoo</title>

  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Inter&display=swap" rel="stylesheet">
</head>

<body>

<header class="header">
  <img src="/Arche_sans_fond.png" alt="Logo" class="logo">

  <h1 class="title">L'Arche des Joyaux Cachés</h1>

  <div class="spacer"></div>
</header>

<div class="page-layout">
  <div class="main-column">

    <section class="content">

      <div *ngIf="article$ | async as article">

  <div class="article-detail-card">

    <div class="article-header">
      <h2>{{ article.libelle }}</h2>

      @if(authService.isAdmin()) {

          <button
            class="edit-icon-btn"
            type="button"
            (click)="ouvrirEdition(); $event.stopPropagation()"
          >
            ✏️
          </button>

        }
    </div>

    <div class="article-body">

      <p>
        <span class="label">📦 Stock :</span>
        {{ article.quantiteStock }}
      </p>

      <p>
        <span class="label">💰 Prix :</span>
        {{ article.prix }} €
      </p>

    </div>

    <!-- UTILISATEUR NON CONNECTÉ -->
    @if (!authService.isLogged()) {

      <div class="login-warning">
        Navrés, nous avons besoin de vos coordonnées pour vous envoyer l'article...
        Nous vous invitons donc à vous connecter pour pouvoir l'acheter !
        Une fois connecté vous serez redirigé vers l'accueil mais ne vous inquiétez pas,
        la boutique sera toujours accessible depuis l'onglet "Boutique"
      </div>
    }

    <!-- UTILISATEUR CONNECTÉ -->
    @if (authService.isVisiteur()) {

    <form (ngSubmit)="addAchat()" class="achat-form" [formGroup]="formAchat">

      <div class="form-group">
        <label for="quantite">Quantité</label>
        <div class="quantity-selector">

          <button type="button" class="qty-btn" (click)="formQuantiteCtrl.setValue(formQuantiteCtrl.value - 1)" [disabled]="formQuantiteCtrl.value <= 1">
            −
          </button>

          <input id="quantite" type="number" [formControl]="formQuantiteCtrl" min="1" [max]="article.quantiteStock">

          <button type="button" class="qty-btn" (click)="formQuantiteCtrl.setValue(formQuantiteCtrl.value + 1)" [disabled]="formQuantiteCtrl.value >= article.quantiteStock">
            +
          </button>

        </div>
      </div>

      <div class="total-box"> Prix total : {{ (formQuantiteCtrl.value * article.prix) | number:'1.0-2'}} € </div>

      <button type="submit" class="buy-btn">Acheter</button>
    </form>
    }

    <!-- ADMIN -->
    @if (authService.isAdmin() && modeEdition===true) {

    <form (ngSubmit)="modifierArticle()" class="achat-form" [formGroup]="formAchat">

      <div class="form-group">
        <label for="libelle">Libellé</label>
        <div>
          <input id="libelle" type="text" [formControl]="formLibelleCtrl"/>
        </div>
        <label for="prix">Prix Unitaire</label>
        <div>
          <input id="prix" type="number" [formControl]="formPrixCtrl"/>
        </div>
        <label for="quantite">Quantité</label>
        <div class="quantity-selector">

          <button type="button" class="qty-btn" (click)="formQuantiteCtrl.setValue(formQuantiteCtrl.value - 1)" [disabled]="formQuantiteCtrl.value <= 0">
            −
          </button>

          <input id="quantite" type="number" [formControl]="formQuantiteCtrl" min="0">

          <button type="button" class="qty-btn" (click)="formQuantiteCtrl.setValue(formQuantiteCtrl.value + 1)">
            +
          </button>

        </div>
      </div>

      <button type="submit" class="buy-btn">Modifier</button>
    </form>
    }

  </div>

</div>

    </section>

  </div>

  <app-carte-logged></app-carte-logged>


</div>


@if (achatSuccess) {
  <div class="modal-backdrop">
    <div class="success-modal">
      <h2>🛍️ Achat confirmé</h2>
      <p> Votre achat a bien été enregistré.</p>
      <button class="modal-btn" (click)="closeAchatSuccess()"> OK </button>
    </div>
  </div>
}

@if(popupVisible) {

<div class="popup-overlay">

  <div class="popup">

    <h2>
      ✅ Article modifié avec succès
    </h2>

    <button
      class="gold-btn"
      (click)="fermerPopUp()"
    >
      OK
    </button>

  </div>

</div>

}

<div class="animals">
  <img src="/panthere_final.gif" alt="Panthère">
  <img src="/poissons-qui-nagent.gif" alt="Poissons">
</div>

<footer>
  © 2026 Arche des Joyaux Cachés
</footer>

</body>
</html>
