<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="reservation-page.css">


    <!-- Font moderne -->
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Inter&display=swap" rel="stylesheet">
</head>

<body>

    <div class="container">

        <!-- <img src="Arche_sans_fond.png" alt="Logo" class="logo"> -->

        <h2>Liste des réservations</h2>

        <!-- @if(authService.isAdmin() || authService.isVeterinaire()) { -->
        <form (submit)="addOrUpdateReservation()" [formGroup]="formReservation">
            <div class="form-group">
                <div>
                    <div class="inline" *ngIf="!isVisiteur">
                        <label for="visiteur"><b>Visiteur</b></label>

                        <select class="form-control"
                                id="visiteur"
                                formControlName="visiteur"
                                [class.is-invalid]="formVisiteurCtrl.invalid">

                            <option value=""> -- Visiteur --</option>

                            <option *ngFor="let v of visiteurs$ | async"
                                    [ngValue]="v.id">

                                {{v.id}} - {{v.nom}} {{v.prenom}}

                            </option>
                        </select>
                    <!-- </div> -->
                        <div *ngIf="formVisiteurCtrl.hasError('required')" class="form-control">
                            Visiteur obligatoire</div>
                    </div>

                    @if (!isVisiteur){
                      <div class="inline">
                          <label for="dateReservation"><b>Date Réservation</b></label>
                          <input type="date" class="form-control" id="dateReservation" formControlName="dateReservation"
                              [class.is-invalid]="formDateReservationCtrl.invalid" />
                          <div *ngIf="formDateReservationCtrl.hasError('required')" class="form-control">
                              Date de réservation obligatoire</div>
                      </div>
                    }

                    <div class="inline">
                        <label for="dateVisite"><b>Date Visite</b></label>
                        <input type="date" class="form-control" id="dateVisite" formControlName="dateVisite"
                            [class.is-invalid]="formDateVisiteCtrl.invalid" />
                        <div *ngIf="formDateVisiteCtrl.hasError('required')" class="form-control">
                            Date de visite obligatoire</div>
                        <div class="form-control" *ngIf="formDateVisiteCtrl.touched && formReservation.errors?.['pastDate']">
                        La date ne peut pas être dans le passé</div>
                    </div>
                </div>

                <div>
                    <div class="inline">
                        <label for="nbPersonne"><b>Nombre de personne</b></label>
                        <input type="number" class="form-control" id="nbPersonne" formControlName="nbPersonne"
                            [class.is-invalid]="formNbPersonneCtrl.invalid" max = "10"/>
                        <div *ngIf="formNbPersonneCtrl.hasError('required')" class="form-control">
                            Nombre de personne obligatoire</div>
                    </div>
                    <div class="inline">
                        <label *ngIf="!isVisiteur" for="prix"><b>Prix</b></label>
                        <label *ngIf="isVisiteur" for="prix"><b>Prix calculé</b></label>

                        <input type="number"
                            class="form-control"
                            id="prix"
                            formControlName="prix"
                            [readonly]="isVisiteur"
                            [value]="isVisiteur ? formNbPersonneCtrl.value * prixVisite : formPrixCtrl.value"
                            [class.is-invalid]="formPrixCtrl.invalid" />

                        <div *ngIf="formPrixCtrl.hasError('required') && !isVisiteur" class="form-control">
                            Prix obligatoire
                        </div>
                    </div>
                </div>
                <div class="inline">
                    <label for="spectacles"><b>Spectacles du jour</b></label>

                    <select multiple class="form-control" id="spectacles" formControlName="spectaclesIds"
                        [class.is-invalid]="formSpectaclesCtrl.invalid">
                        <!-- <option value=""> -- Spectacles --</option> -->
                        <option *ngFor="let s of spectaclesOfDay$ | async" [ngValue]="s.id">{{s.titre}} - {{s.dateDebut}}</option>
                    </select>
                    <!-- <div *ngIf="formSpectacleCtrl.hasError('required')" class="form-control">
                        Spectacles obligatoire</div> -->
                </div>
            </div>

            <div>
                <input *ngIf="!editingReservation" [disabled]="formReservation.invalid" type="submit"
                    class="btn btn-success" value="Ajouter" />
                <input *ngIf="editingReservation" [disabled]="formReservation.invalid" type="submit" class="btn btn-warning"
                    value="Modifier" />
            </div>

        </form>
        <!-- } -->

    </div>

    @if ((reservations$ | async)?.length===0) {
    <h3>Aucune réservation trouvée</h3>
    } @else {
    <div class="tableau-wrapper">
        <div *ngIf="!isVisiteur">

            <table class="tableau">
                <thead>
                    <tr>
                        @if(authService.isAdmin() || authService.isVeterinaire()) {
                        <th>ID</th>
                        <th>Nom visiteur</th>
                        }
                        <th>Date de visite</th>
                        <th>Date de réservation</th>
                        <th>Nombre de personne</th>
                        <th>Prix</th>
                        <th>Spectacles réservés</th>
                        <!-- @if(authService.isAdmin() || authService.isVeterinaire()) { -->
                        <th>Actions</th>
                        <!-- } -->
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let reservation of reservations$ | async">
                        @if(authService.isAdmin() || authService.isVeterinaire()) {
                        <td>{{ reservation.id }}</td>
                        <td>{{ reservation.visiteurNom }}</td>
                        }
                        <td>{{ reservation.dateVisite }}</td>
                        <td>{{ reservation.dateReservation }}</td>
                        <td>{{ reservation.nbPersonne }}</td>
                        <td>{{ reservation.prix }}</td>
                        <td>  {{ getSpectacleTitles(reservation.spectaclesIds) }}</td>
                        <!-- @if(authService.isAdmin() || authService.isVeterinaire()) { -->
                        <td>
                            <button class="btn-danger" (click)="deleteReservation(reservation)">Supprimer</button>
                            <button class="btn-edit" (click)="editerReservation(reservation)">Modifier</button>
                        </td>
                        <!-- } -->
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Reservation d'un visiteur -->
            <div *ngIf="isVisiteur" class="split-container">

                <!-- LEFT: past -->
                <div class="split-box">
                    <h3>Réservations passées</h3>

                    <table class="tableau">
                        <thead>
                            <th>Date de visite</th>
                            <th>Date de réservation</th>
                            <th>Nombre de personne</th>
                            <th>Prix</th>
                            <th>Spectacles réservés</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let r of pastReservations$ | async">
                            <td>{{ r.dateVisite }}</td>
                            <td>{{ r.dateReservation }}</td>
                            <td>{{ r.nbPersonne }}</td>
                            <td>{{ r.prix }}</td>
                            <td>{{ getSpectacleTitles(r.spectaclesIds) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- RIGHT: future -->
                <div class="split-box">
                    <h3>Réservations à venir</h3>

                    <table class="tableau">
                        <thead>
                            <th>Date de visite</th>
                            <th>Date de réservation</th>
                            <th>Nombre de personne</th>
                            <th>Prix</th>
                            <th>Spectacles réservés</th>
                            <th>Actions</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let r of futureReservations$ | async">
                                <td>{{ r.dateVisite }}</td>
                                <td>{{ r.dateReservation }}</td>
                                <td>{{ r.nbPersonne }}</td>
                                <td>{{ r.prix }}</td>
                                <td>{{ getSpectacleTitles(r.spectaclesIds) }}</td>
                                <td>
                                    <button class="btn-danger" (click)="deleteReservation(r)">Supprimer</button>
                                    <button class="btn-edit" (click)="editerReservation(r)">Modifier</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                </div>


    </div>
    }

    <div class="panther-container">
        <img src="panthere_final.gif" class="panther" alt="Panthère">
    </div>

</body>

</html>
