<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="animal-page.css">


    <!-- Font moderne -->
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Inter&display=swap" rel="stylesheet">
</head>

<body>

  <header class="header">
  <img src="/Arche_sans_fond.png" alt="Logo" class="logo">

  <h1 class="title">L'Arche des Joyaux Cachés</h1>

  <div class="spacer"></div>
</header>
    <div class="page-layout">
      <div class="main-column">

        <section class="content">

        @if(authService.isAdmin() || authService.isVeterinaire()) {
          <div class="container">


          <form class="animal-form" (submit)="addOrUpdateAnimal()" [formGroup]="formAnimal">

            <div class="form-grid">

              <div class="input-group">
                <label for="prenom">🦁 Prénom</label>

                <input
                  type="text"
                  id="prenom"
                  formControlName="prenom"
                  placeholder="Nom de l'animal"
                />
              </div>

              <div class="input-group">
                <label for="dateNaissance">🎂 Date de naissance</label>

                <input
                  type="date"
                  id="dateNaissance"
                  formControlName="dateNaissance"
                />
              </div>

              <div class="input-group">
                <label for="espece">🐾 Espèce</label>

                <select id="espece" formControlName="espece">

                  <option [ngValue]="null">
                    Choisir une espèce
                  </option>

                  <option *ngFor="let espece of especes$ | async" [ngValue]="espece">
                    {{ espece.replace("_", " ") }}
                  </option>

                </select>
              </div>

              <div class="input-group">
                <label for="enclos">🌿 Enclos</label>

                <select id="enclos" formControlName="idEnclos">

                  <option [ngValue]="null">
                    Choisir un enclos
                  </option>

                  <option *ngFor="let e of enclosDisponibles$ | async" [ngValue]="e">

                    #{{ e.numero }} - {{ e.biome }}

                    [{{ e.animals?.length ?? 0 }}/{{ e.capacite }}]

                  </option>

                </select>
              </div>

            </div>

            <div class="form-actions">

              <button
                *ngIf="!editingAnimal"
                [disabled]="formAnimal.invalid"
                class="gold-btn"
                type="submit"
              >
                ✨ Ajouter l'animal
              </button>

              <button
                *ngIf="editingAnimal"
                [disabled]="formAnimal.invalid"
                class="gold-btn"
                type="submit"
              >
                🛠️ Modifier l'animal
              </button>

            </div>

          </form>

        </div>
      }

   <h2 class="section-title">Liste des animaux</h2>

    <div class="animals-grid" *ngIf="animals$ | async as animals">

      <div *ngIf="animals.length === 0" class="empty-state">
        Aucun animal dans le Zoo
      </div>

      <div
        class="animal-card"
        *ngFor="let animal of animals"
        [routerLink]="['/animal', animal.id]"
      >

        <div class="animal-header">
          <h3>{{ animal.prenom }}</h3>
        </div>

        <img class="animal-image" [src]="especeImages[animal.espece]" [alt]="animal.espece">

        <div class="animal-body">

          <p>
            <span class="label">🎂 Naissance :</span>
            {{ animal.dateNaissance | date:'dd/MM/yyyy' }}
          </p>

          <p>
            <span class="label">🌿 Biome :</span>
            {{ animal.biomeEnclos }}
          </p>

          <p>
            <span class="label">🐾 Espèce :</span>
            {{ animal.espece.replace('_', ' ') }}
          </p>

        </div>

      </div>

    </div>

    </section>
    </div>

    <app-carte-logged></app-carte-logged>
    </div>


    <div class="panther-container">
        <img src="panthere_final.gif" class="panther" alt="Panthère">
    </div>

</body>

</html>
