/* 📱 Responsive */
@media (max-width: 480px) {
  .container {
    padding: 10px;
  }

  .logo {
    width: 120px;
  }
}

/* Corps du texte */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(135deg, #39281c, #a47251);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  text-align: center;
}

.logo {
  width: 200px;
  margin-bottom: 20px;
}

h2 {
 font-family: 'Cinzel', serif;
  color: #e6d3a3;
  text-shadow: 
    1px 1px 0 #000,
    2px 2px 5px rgba(0,0,0,0.5);
 text-align: center;
 font-size: 1.5rem;
}

h3 {
 font-family: 'Cinzel', serif;
  color: #e6d3a3;
  text-shadow: 
    1px 1px 0 #000,
    2px 2px 5px rgba(0,0,0,0.5);
 text-align: center;
 font-size: 1rem;
}

form {
  background: rgba(255, 255, 255, 0.05);
  padding: 25px;
  border-radius: 12px;
  backdrop-filter: blur(10px);
}

.form-control {
  font-size: 10px;
}

.form-group > div {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.inline {
  display: flex;
  flex-direction: column;
  width: 48%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.9rem;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
}

input[type='submit'] {
  background: #d4af37;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

input[type='submit']:hover {
  background: #f1d46a;
}

/* Tableau */

.tableau {
  border-radius: 12px;
  overflow: hidden;
  border: none;
}

.tableau tr:hover {
 background-color: rgba(0,0,0,0.1);
  cursor: pointer; 
}


/* Footer */
.panther-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.panther {
  position: absolute;
  bottom: 0;
  width: 100px;
  left: -150px;
  transform: translateX(-150px);

  animation: run-across 15s linear infinite;
}

@keyframes run-across {
  0% {
    left: -50px;
  }
  100% {
    left: 200vw;
  }
}
