<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="animal-page.css">


    <!-- Font moderne -->
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Inter&display=swap" rel="stylesheet">
</head>

<body>

  <header class="header">
  <img src="/Arche_sans_fond.png" alt="Logo" class="logo">

  <h1 class="title">L'Arche des Joyaux Cachés</h1>

  <div class="spacer"></div>
</header>
    <div class="page-layout">
      <div class="main-column">

        <section class="content">

        @if(authService.isAdmin() || authService.isVeterinaire()) {
          <div class="container">


          <form class="animal-form" (submit)="addOrUpdateAnimal()" [formGroup]="formAnimal">

            <div class="form-grid">

              <div class="input-group">
                <label for="prenom">🦁 Prénom</label>

                <input
                  type="text"
                  id="prenom"
                  formControlName="prenom"
                  placeholder="Nom de l'animal"
                  [class.invalid-input]="formPrenomCtrl.invalid && formPrenomCtrl.touched "
                />

                <div class="field-error" *ngIf="formPrenomCtrl.invalid && formPrenomCtrl.touched">
                  Le prénom est obligatoire
                </div>
              </div>

              <div class="input-group">
                <label for="dateNaissance">🎂 Date de naissance</label>

                <input
                  type="date"
                  id="dateNaissance"
                  formControlName="dateNaissance"
                  [class.invalid-input]="formDateNaissanceCtrl.invalid && formDateNaissanceCtrl.touched"
                />

                <div class="field-error" *ngIf="formDateNaissanceCtrl.hasError('required') && formDateNaissanceCtrl.touched">
                  La date de naissance est obligatoire
                </div>

                <div class="field-error" *ngIf="formDateNaissanceCtrl.hasError('pastDate')">
                  La date de naissance doit être dans le passé
                </div>
              </div>

              <div class="input-group">
                <label for="espece">🐾 Espèce</label>

                <select id="espece" formControlName="espece" [class.invalid-input]="formEspeceCtrl.invalid && formEspeceCtrl.touched">

                  <option [ngValue]="null">
                    Choisir une espèce
                  </option>

                  <option *ngFor="let espece of especes$ | async" [ngValue]="espece">
                    {{ espece.replace("_", " ") }}
                  </option>

                </select>

                <div class="field-error" *ngIf="formEspeceCtrl.invalid && formEspeceCtrl.touched">
                  Veuillez choisir une espèce
                </div>
              </div>

              <div class="input-group">
                <label for="enclos">🌿 Enclos</label>

                <select id="enclos" formControlName="idEnclos" [class.invalid-input]="formEnclosCtrl.invalid && formEnclosCtrl.touched">

                  <option [ngValue]="null">
                    Choisir un enclos
                  </option>

                  <option *ngFor="let e of enclosDisponibles$ | async" [ngValue]="e">

                    #{{ e.numero }} - {{ e.biome }}

                    [{{ e.animals?.length ?? 0 }}/{{ e.capacite }}]

                  </option>

                </select>

                <div class="field-error" *ngIf="formEnclosCtrl.invalid && formEnclosCtrl.touched">
                  Veuillez choisir un enclos
                </div>
              </div>

            </div>

            <div class="form-actions">

              <button
                *ngIf="!editingAnimal"
                [disabled]="formAnimal.invalid"
                class="gold-btn"
                type="submit"
              >
                ✨ Ajouter l'animal
              </button>

              <button
                *ngIf="editingAnimal"
                [disabled]="formAnimal.invalid"
                class="gold-btn"
                type="submit"
              >
                🛠️ Modifier l'animal
              </button>

            </div>

          </form>

        </div>
      }

   <h2 class="section-title">Liste des animaux</h2>

    <div class="animals-grid" *ngIf="animals$ | async as animals">

      <div *ngIf="animals.length === 0" class="empty-state">
        Aucun animal dans le Zoo
      </div>

      <div
        class="animal-card"
        *ngFor="let animal of animals"
        [routerLink]="['/animal', animal.id]"
      >

        <div class="animal-header">
          <h3>{{ animal.prenom }}</h3>

          @if(authService.isAdmin() || authService.isVeterinaire()) {

              <button
                class="delete-icon-btn"
                type="button"
                (click)="ouvrirPopupSuppression(animal); $event.stopPropagation()"
              >
                🗑️
              </button>

            }

        </div>

        <img class="animal-image" [src]="especeImages[animal.espece]" [alt]="animal.espece">

        <div class="animal-body">

          <p>
            <span class="label">🎂 Naissance :</span>
            {{ animal.dateNaissance | date:'dd/MM/yyyy' }}
          </p>

          <p>
            <span class="label">🌿 Biome :</span>
            {{ animal.biomeEnclos }}
          </p>

          <p>
            <span class="label">🐾 Espèce :</span>
            {{ animal.espece.replace('_', ' ') }}
          </p>

        </div>

      </div>

    </div>

    </section>
    </div>

    <app-carte-logged></app-carte-logged>
    </div>

    <!-- POPUP CONFIRMATION SUPPRESSION -->

    @if(popupSuppressionVisible) {

    <div class="popup-overlay">

      <div class="popup danger-popup">

        <h2>
          ⚠️ Supprimer cet animal ?
        </h2>

        <p class="popup-text">
          Cette action est irréversible.
        </p>

        <div class="popup-actions">

          <button
            class="cancel-btn"
            (click)="annulerSuppression()"
          >
            Annuler
          </button>

          <button
            class="delete-confirm-btn"
            (click)="confirmerSuppression()"
          >
            Supprimer
          </button>

        </div>

      </div>

    </div>

    }

    <!-- POPUP SUCCES -->

    @if(popupSuccesVisible) {

    <div class="popup-overlay">

      <div class="popup">

        <h2>
          ✅ Animal supprimé avec succès
        </h2>

        <button
          class="gold-btn"
          (click)="fermerPopupSucces()"
        >
          OK
        </button>

      </div>

    </div>

    }

    <div class="panther-container">
        <img src="panthere_final.gif" class="panther" alt="Panthère">
    </div>

</body>

</html>
