<nav class="navbar">

  <ul class="nav-list">

    <!-- Toujours visibles -->

    <!--
      Lien Accueil :
        - Si l'utilisateur connecté est admin, on le redirige vers admin-page
        - Si l'utilisateur connecté est un visiteur, on le redirige vers visiteur-page
        - Si l'utilisateur connecté est un vétérinaire, on le redirige vers veterinaire-page
        - Sinon, c'est qu'on n'est pas connecté et on tombe sur la non-auth-page
     -->

    @if (authService.isAdmin()) {
      <li><a routerLink="/admin">Accueil</a></li>
    }

    @else if (authService.isVeterinaire()) {
      <li><a routerLink="/veterinaire">Accueil</a></li>
    }

    @else if (authService.isVisiteur()) {
      <li><a routerLink="/visiteur">Accueil</a></li>
    }

    @else {
      <li><a routerLink="/home">Accueil</a></li>
    }

    <li><a routerLink="/spectacle">Spectacles</a></li>
    <li><a routerLink="/animal">Animaux</a></li>
    <li><a routerLink="/enclos">Enclos</a></li>
    <li><a routerLink="/boutique">Boutique</a></li>

    <!-- Partie droite -->
    <div class="right-section">

      <!-- Non connecté -->
      <ng-container *ngIf="!authService.isLogged()">

        <li>
          <a routerLink="/connexion">Connexion</a>
        </li>

        <li>
          <a routerLink="/inscription">Inscription</a>
        </li>

      </ng-container>

      <!-- Connecté -->
      <ng-container *ngIf="authService.isLogged()">

        <li>
          <a routerLink="/mes-visites">Mes visites</a>
        </li>

        <li *ngIf="authService.isAdmin()">
          <a routerLink="/personnel">Personnel</a>
        </li>

        <li>
          <a href="#" (click)="logout()">Déconnexion</a>
        </li>

      </ng-container>

    </div>

  </ul>

</nav>
