<nav class="navbar">

  <div class="nav-container">

    <!-- Burger -->
    <div class="burger" (click)="menuOpen = !menuOpen">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <!-- Navigation -->
    <ul class="nav-list" [class.active]="menuOpen">

      <!-- Accueil -->

      @if (authService.isAdmin()) {
        <li><a routerLink="/admin">Accueil</a></li>
      }

      @else if (authService.isVeterinaire()) {
        <li><a routerLink="/veterinaire">Accueil</a></li>
      }

      @else if (authService.isVisiteur()) {
        <li><a routerLink="/visiteur">Accueil</a></li>
      }

      @else {
        <li><a routerLink="/home">Accueil</a></li>
      }
      
      <li><a routerLink="/spectacle">Spectacles</a></li>

      @if (authService.isVisiteur()) {
        <li><a routerLink="/reservation">Mes Réservations</a></li>
      }
      @else {
        <li><a routerLink="/reservation">Réservations</a></li>
      }

      <li><a routerLink="/animal">Animaux</a></li>
      <li><a routerLink="/enclos">Enclos</a></li>
      <li><a routerLink="/boutique">Boutique</a></li>

      @if (authService.isAdmin()) {
        <li><a routerLink="/soin">Soins</a></li>
      } @else if (authService.isVeterinaire()) {
        <li><a routerLink="/soin">Mes Soins</a></li>
      }

      @if (authService.isAdmin()){
        <li><a routerLink="/achat">Achats</a></li>
      } @else if (authService.isVisiteur() || authService.isVeterinaire()) {
        <li><a routerLink="/achat">Mes Achats</a></li>
      }

      @if (authService.isAdmin()) {
        <li><a routerLink="/personnel">Personnel</a></li>
      }

      <!-- pousse la suite à droite -->
      <li class="spacer"></li>

      <!-- Non connecté -->

      <ng-container *ngIf="!authService.isLogged()">

        <li>
          <a routerLink="/connexion">Connexion</a>
        </li>

        <li>
          <a routerLink="/inscription">Inscription</a>
        </li>

      </ng-container>

      <!-- Connecté -->

      <ng-container *ngIf="authService.isLogged()">


        <li>
          <a href="#" (click)="logout()">Déconnexion</a>
        </li>

      </ng-container>

    </ul>

  </div>

</nav>