<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accueil - Arche</title>

  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Inter&display=swap" rel="stylesheet">

  
</head>

<body>

<header class="header">
  <div class="spacer"></div>
  
  <img src="/Arche_sans_fond.png" alt="Logo" class="logo">

  

  <div class="spacer"></div>
</header>


<section class="content">
  <h2>Bienvenue</h2>
  <p>
    Découvrez un univers fascinant d’animaux rares et de trésors cachés.
    Explorez, apprenez et vivez une expérience unique.
  </p>
</section>

<div class="animals">
  <img src="/panthere_final.gif" alt="Panthère">
  <img src="/poissons-qui-nagent.gif" alt="Poissons">
</div>

<footer>
  © 2026 Arche des Joyaux Cachés
</footer>

</body>
</html>
