<!DOCTYPE html>
<html>

  <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="admin-page.css">
      <title>Page d'acces au Admin</title>
      <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Inter&display=swap" rel="stylesheet">
  </head>

  <body>

    <header class="header">
      <img src="/Arche_sans_fond.png" alt="Logo" class="logo">

      <h1 class="title">Bienvenue sur l'espace Admin</h1>

      <div class="spacer"></div>
    </header>

        <nav class="menu">
          <a href="#">Accueil</a>
          <a href="#">Prochaines visites </a>
          <a href="#">Spectacles</a>
          <a href="#">Animaux</a>
          <a href="#">Enclos</a>
          <a href="#">Personnel</a> 
          <a href="#">Boutique</a>
        </nav>

    <div class="main-content">

  <section class="zoo-map">
    <img src="/zoo-map.png" alt="Carte zoo">
  </section>

  <aside class="right-panel">

    <div class="admin-card">
      <div class="admin-header">
        <img src="/user.png" alt="profil" class="admin-avatar">

        <div class="admin-info">
          <h2>Directeur du Zoo</h2>
          <p>Admin</p>
        </div>

        <a href="#" class="logout-btn">Déconnexion</a>
      </div>

      <div class="admin-stats">
        <div class="stat">Nombre d’Animaux</div>
        <div class="stat">Nombre d’Espèces</div>
        <div class="stat">Nombre d’Employés</div>
        <div class="stat">Nombre de visiteurs cette année</div>
        <div class="stat">Revenus du Zoo</div>
      </div>
    </div>

    <div class="logs-card">
      <h2>Logs</h2>
       
      <ul>
        <li>Log1</li>
        <li>Log2</li>
        <li>Log3</li>
        <li>Log4</li>
      </ul>
    </div>

  </aside>

</div>
    
    <footer>© 2026 Arche des Joyaux Cachés </footer>

</body>
</html>