<!DOCTYPE html>
<html>

  <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="admin-page.css">
      <title>Page d'acces au Admin</title>
      <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Inter&display=swap" rel="stylesheet">
  </head>

  <body>

    <header class="header">
      <img src="/Arche_sans_fond.png" alt="Logo" class="logo">

      <h1 class="title">Bienvenue sur l'espace Admin</h1>

      <div class="spacer"></div>
    </header>

    <div class="page-layout">
      <div class="main-column">

        <section class="zoo-map">
          <img src="/zoo-map.png" alt="Carte zoo">
        </section>
      </div>

      <app-carte-logged></app-carte-logged>

    </div>

 <footer>© 2026 Arche des Joyaux Cachés </footer>

</body>
</html>
