<!DOCTYPE html>
<html>

  <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="admin-page.css">
      <title>Page d'acces au Admin</title>
      <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Inter&display=swap" rel="stylesheet">
  </head>

  <body>

    <header class="header">
      <img src="/Arche_sans_fond.png" alt="Logo" class="logo">

      <h1 class="title">Bienvenue sur l'espace Admin</h1>

      <div class="spacer"></div>
    </header>

    <div class="page-layout">
      <div class="main-column">

    <section class="zoo-map">
      <img src="/zoo-map.png" alt="Carte zoo">
    </section>
  </div>

  <aside class="sidebar">

    <div class="admin-card">
      <div class="admin-header">
        <div class="avatar">🧑‍💼</div>

        <div class="admin-info">
          <h2>Directeur du Zoo</h2>
          <p>Admin</p>
        </div>

        <button class="logout-btn">Déconnexion</button>
      </div>

      <div class="admin-details">
        <p>🦁 Nombre d’Animaux : 60</p>
        <p>🦁 Nombre d’Espèces : 12</p>
        <p>👤 Nombre d’Employés : 6</p>
        <p>🎟️ Nombre de visiteurs cette année : 520</p>
        <p>💰Revenus du Zoo: 12 568€</p>
      </div>
    </div>

    <div class="logs">
        <app-log-viewer></app-log-viewer>
    </div>

  </aside>

</div>
    
 <footer>© 2026 Arche des Joyaux Cachés </footer>

</body>
</html>