<aside class="sidebar">

    @if (authService.isVisiteur()) {
      <div class="container profile-card">
        <div class="profile-header">
          <div class="avatar">👤</div>

          <div class="profile-info" *ngIf="visiteur$ | async as visiteur">
            <h3>{{ visiteur.prenom }} {{ visiteur.nom }}</h3>
            <span>{{ role }}</span>
          </div>
        </div>

        <div class="profile-details">
          <p *ngIf="nombreVisites$ | async as nbVisites; else AucuneVisite">🎟️ Nombre de visites : {{ nbVisites }}</p>
          <ng-template #AucuneVisite>🎟️ Nombre de visites : {{ 0 }}</ng-template>
          <p *ngIf="derniereVisite$ | async as derniereVisite; else noVisit">
            📅 Dernière visite :
            {{ derniereVisite.dateReservation | date:'dd/MM/yyyy' }}
          </p>

          <ng-template #noVisit>
            <p>📅 Aucune visite enregistrée</p>
          </ng-template>

          <p *ngIf="dernierAchat$ | async as dernierAchat; else noAchat">🛍️ Dernier achat : {{ dernierAchat.articleLibelle }}</p>

          <ng-template #noAchat>
            <p>🛍️ Aucun achat enregistré</p>
          </ng-template>
        </div>
      </div>
    }

    @else if (authService.isVeterinaire()) {
      <div class="container profile-card">
        <div class="profile-header">
          <div class="avatar">👤</div>

          <div class="profile-info" *ngIf="veterinaire$ | async as veterinaire">
            <h3>{{ veterinaire.login.split("@")[0] }}</h3>
            <span>{{ role }}</span>
          </div>
        </div>

        <div class="profile-details">
          <p>🎟️ Nombre de soins : 12</p>
          <p *ngIf="dernierSoin$ | async as dernierSoin">🛍️ Dernier Soin : {{ dernierSoin.description }}</p>
        </div>
      </div>
    }

    @else if (authService.isAdmin()) {
      <div class="container profile-card">
        <div class="profile-header">
          <div class="avatar">👤</div>

          <div class="profile-info">
            <h3>Directeur du Zoo</h3>
            <span>Admin</span>
          </div>
        </div>

        <div class="profile-details">
          <p *ngIf="nombreAnimaux$ | async as nbAnimaux; else noAnimal">
            🦁 Nombre d’Animaux : {{ nbAnimaux }}
          </p>

          <ng-template #noAnimal>
            <p>🦁 Aucun animal dans le zoo</p>
          </ng-template>

          <p *ngIf="nombreEspeces$ | async as nbEspeces; else noEspece">
            🐾 Nombre d’Espèces : {{ nbEspeces }}
          </p>

          <ng-template #noEspece>
            <p>🐾 Aucune espèce dans le zoo</p>
          </ng-template>

          <p *ngIf="nombreEmployes$ | async as nbEmployes; else noEmploye">👤 Nombre d’Employés : {{ nbEmployes }}</p>
          <ng-template #noEmploye>
            <p>👤 Nombre d’Employés : 0</p>
          </ng-template>

          <p *ngIf="nombreVisites$ | async as nbVisites; else noVisitInTheYear">
            🎟️ Nombre de visites cette année : {{ nbVisites }}
          </p>

          <ng-template #noVisitInTheYear>
            <p>🎟️ Aucune visite enregistrée cette année</p>
          </ng-template>

          <p *ngIf="recettes$ | async as recettes; else pauvre">
            💰 Revenus du Zoo :
            {{ recettes | number:'1.2-2' }} €
          </p>

          <ng-template #pauvre>
            <p>💰 Pas une thune à l'horizon</p>
          </ng-template>
        </div>
      </div>
    }

    @else {
      <div class="container profile-card">
        <div class="profile-header">
          <div class="avatar">👤</div>

          <div class="profile-info">
            <h3>Non Connecté</h3>
            <span>Inconnu</span>
          </div>
        </div>
      </div>
    }

      <div class="container news-card">
        <h3>Actualités</h3>

        <ul>
          <li>🦁 Naissance de deux lionceaux</li>
          <li>🌿 Nouveau parcours tropical ouvert</li>
          <li>🎭 Spectacle des oiseaux à 15h</li>
          <li>🛒 Promotion boutique ce week-end</li>
        </ul>
      </div>

    </aside>

